<h1>Projects</h1>

<ul class='list-group'>
  <% @projects.each do |project| %>
  <li class='list-group-item'>
    <%= link_to(project.name, project) %>
    <%= link_to('Delete', project_path(project), method: :delete, class: "btn btn-default btn-xs pull-right") %>
    <%= link_to('Edit', edit_project_path(project), class: "btn btn-default btn-xs pull-right") %>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Project', new_project_path %>
